@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

:root { font-size: 1rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.6rem; } }
@media (min-width: 1200px) { :root { font-size: 1.6rem; } }

.whitefonts {
  color: #bccae0;
}

ul {
    background-color: #141a23;
    
    @include clearfix;
  }

li {
    display: inline;
    list-style: none;
    text-align: center;
    @include font-size(14,no);
    text-transform: uppercase;
  }

a {
  padding: 10px;
}

#nav-bar {

}

.navigation-wrapper {
  text-align: center;
  padding-top: 20px;
  @include clearfix;

  ul {
      width: 10%;
      vertical-align: top;
      margin:  0 50px;
      padding: 10px 20px;

      @include clearfix;
    }

  li {
      text-align: center;
      @include font-size(14,no);
      text-transform: uppercase;
    }

}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    list-style: none;
    cursor: none;
    font-family: 'Helvetica Neue';
    -webkit-perspective:700;
    -webkit-user-select: none;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messages {
  overflow: auto;
  width: 399px;
  max-height: 100vh;
  padding: 1rem .9rem;
}

.bubble {
  overflow: hidden;
  display: inline-block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 1.25rem;
  border-radius: 1.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: .5rem;
  height: .5rem;
  background-image: url(../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0;
}
.bubble span {
  display: block;
}
.bubble span.message {
  opacity: 0;
}
.bubble a {
  color: #0076FF;
}
.bubble .loading {
  position: absolute;
  width: 2.25rem;
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}


/*Phone CSS*/


    .bottomband:after {
        width: 5px;     height: 17px;     background-color: rgba(0, 0, 0, 0.18);     position: absolute;     
        top: 0;     
        right: -405px;     z-index: 0;
        content: '';
    }

    .bottomband {
        width: 5px;     height: 17px;     background-color: rgba(0, 0, 0, 0.18);     position: absolute;     
        bottom: 53px;     left: -6px;     z-index: 0;
    }

    .topband {
        width: 5px;
        height: 17px;
        background-color: rgba(0, 0, 0, 0.18);
        position: absolute;
        top: 53px;
        left: -6px;
        z-index: 0;
    }

    .topband:after {
        content: '';
        width: 5px;     height: 17px;     
        background-color: rgba(0, 0, 0, 0.18);     position: absolute;     
        top: 0;     
        right: -405px;     z-index: 0;
    }

    .ref2 {
        position: absolute;     
        left: 8px;     
        top: 9px;     
        width: 3px;     
        height: 3px;     
        background-color: rgba(0, 246, 255, 0.35);     z-index: 10;     
        border-radius: 100%;
    }

    .ref1 {
        position: absolute;
        left: 4px;
        top: 4px;
        width: 6px;
        height: 6px;
        background-color: rgba(0, 161, 255, 0.35);
        z-index: 10;
        border-radius: 999px;
    }

    .glossy {
        width: 385px;
        height: 819px;
        border-radius: 55px;
        left: 7px;
        position: absolute;
        opacity: .3;
        top: 4px;          
        background: linear-gradient(64deg, rgba(255,255,255,0.2) -40%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 82%,rgba(255,255,255,0.2) 120%);  
    }

    .glossy:after {
        content: '';
        width: 370px;
        height: 807px;
        border-radius: 49px;
        background-color: #111111;
        position: absolute;
        left: 8px;
        top: 4px;
    }

    .inner {
        width: 54px;
        height: 54px;
        position: absolute;
        left: 50%;
        background-color: #111111;
        top: 50%;
        margin-top: -27px;
        margin-left: -27px;
        border-radius: 999px;
    }

    .home_btn {
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -30px;            
        background: linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(255,255,255,.2) 50%,rgba(0,0,0,1) 100%);  
        border-radius: 999px;
        z-index: 10;
    }

    .cam {
        width: 16px;
        height: 16px;
        position: absolute;
        border-radius: 999px;
        left: 130px;
        top: 38px;
        z-index: 10;
        background: linear-gradient(125deg, rgba(255, 255, 255, 0.03) 0%,rgba(255,255,255,0.2) 100%);
    }

    .cam:after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: rgba(11, 25, 35, 0.89);
        position: absolute;
        border-radius: 999px;
        left: 3px;
        top: 3px;
    }

    .spk {
        position: absolute;
        width: 60px;
        height: 7px;
        background-color: #333131;
        left: 50%;
        margin-left: -30px;
        top: 42px;
        z-index: 10;
        border-radius: 999px;
        box-shadow: 1px 1px 0px 0px rgba(255,255,255,.3), inset 0px 0px 2px rgba(0,0,0,.5);
    }

    .btn_l_top {
        position: absolute;     
        left: -11px;     
        width: 5px;     
        height: 37px;     
        top: 94px;     
        border-top-left-radius: 3px;     
        background-color: #D4D4D4;     border-bottom-left-radius: 3px;
        box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,.4), inset -1px 0px 0px 2px #656565;
    }

    .btn_l_top {}

    .btn_vup, .btn_vdown {
        position: absolute;
        left: -11px;
        width: 5px;
        height: 60px;
        top: 170px;
        border-top-left-radius: 3px;
        background-color: #D4D4D4;     border-bottom-left-radius: 3px;     box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,.4), inset -1px 0px 0px 2px #656565;
    }

    .btn_vdown {
        margin-top: 70px;
    }

    .btn_power {
        width: 5px;
        height: 60px;
        position: absolute;
        right: -11px;
        top: 170px;
        border-top-right-radius: 3px;          
        border-bottom-right-radius: 3px;
        z-index: -1;
        background-color: #D4D4D4;          
        box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,.4), inset 1px 0px 0px 2px #656565;
    }

    .phone {
        width: 399px;
        margin: 5px;
        height: 830px;
        background-color: #111;
        border-radius: 57px;
        /* border: 6px solid #635D5D; */
        box-shadow: 0px 0px 0px 5px rgba(0, 0, 0,.3), 0px 0px 14px 6px rgba(255,255,255,.8), 0px 0px 0px 6px rgb(0, 0, 0),inset 0px 0px 2px 3px rgba(253, 253, 253, 0.15);
        transform: scale(0.95);
        position: absolute;
        left: 50%;
        margin-left: -200px;
    }

    .screen {
        width: 360px;
        height: 640px;
        background-color: #edeff2;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -180px;
        margin-top: -320px;
        z-index: 10;
    }


