---
layout: default
---

{% include header.html %}

<!-- <div class="blog">
    <h1>notes:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->

<div class="blog">
{% for category in site.categories %}
  <li><h1>{{ category | last }}:</h1>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li>
          <span class="date">{{ post.date | date: '%d/%b/%y' }}</span>  <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</div>

<!-- <div class="portfolio">
    <h1>work:</h1>
    <ul>
        {% for projects in site.data.projects %}
        <li>
            {{projects.tag}} - <a href="{{ projects.url }}">{{ projects.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
