// COLORS
$color-fg: #f7f4f4; // Background color for code blocks
$color-bg: #FFFFFF; // Primary background color
$color-primaryfont: #333333; // Font color for primary font
$color-link: #1800ae; // Font color for links
$color-code: #313131; // Font color for code lines

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Noto+Sans";
$font-family: "'Noto Sans', ";

// BREAKPOINTS
$br: 600px;
