// COLORS
$color-fg: #eeeeee; // Background color for code blocks
$color-bg: #FFFFFF; // Primary background color
$color-primaryfont: #333333; // Font color for primary font
$color-link: #1800ae; // Font color for links
$color-code: #313131; // Font color for code lines

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-family: "'Ubuntu Mono', ";

// BREAKPOINTS
$br: 600px;
